.container {
  padding: 1rem;
  background-color: var(--white-color);
  max-width: 40rem;
  min-width: 20rem;
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--black-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__container {
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
}

.input__container::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--black-color);
  font-size: 0.75rem;
  transition: all 0.3s ease;
  opacity: 0;
}

.input {
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 0.25rem;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.input:user-invalid {
  border-color: var(--red-color);
}

.input__container.filled::before {
  transform: translateY(-1.125rem);
  opacity: 1;
}

.clear {
  position: absolute;
  right: 0.5rem;
  top: 9px;
  cursor: pointer;
  fill: var(--gray-color);
  transition: all 0.3s ease;
}

.clear:hover {
  fill: var(--black-color);
}

.eye {
  position: absolute;
  right: -1.5rem;
  top: 9px;
  cursor: pointer;
  fill: var(--gray-color);
  transition: all 0.3s ease;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 60%;
  transition: all 0.3s ease;
  width: min-content;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.btn__secondary {
  border: none;
  border-bottom: 1px solid var(--black-color);
  background-color: transparent;
  color: var(--black-color);
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.25rem;
}

.btn__secondary:hover {
  color: var(--gray-color);
  border-color: var(--gray-color);
}
